@using WebAPI.Proformas;
@using WebAPI.Infrastructure.SqlKata;
@using WebAPI.Infrastructure.Ui;

<Heading Text="Proformas" />
<Breadcrumbs Links=@(new []{new Breadcrumbs.Link("List proformas")})
             Target=@(Targets.Workspace) />
<Toolbar>
    <Actions>
        <ActionButton Text="Register Proforma"
                      Icon="bi bi-plus-lg"
                      HtmxProps=@(new HtmxProps(Endpoints.Register,Targets.Workspace)) />
    </Actions>
</Toolbar>
<Section>
    <Content>
        <FormRow>
            <Content>
                <div class="col">
                    <SelectFilter HtmxProps=@(new HtmxProps(@Endpoints.List, "#search-results","outerHTML","#search-results"))
                                  Label="Status"
                                  Property=@(nameof(ListProformas.Query.Status))
                                  Query=@Query
                                  Source=@(Enum.GetValues<ProformaStatus>().ToDictionary(i=>i.ToString(), i=>i.ToString()))>
                    </SelectFilter>
                </div>
            </Content>
        </FormRow>
        <div id="search-results">
            <DataTable TResult=ListProformas.Result
                       Result=@Result
                       Context="item">
                <TableHeader>
                    <th></th>
                    <th>ProformaId</th>
                    <th>Client</th>
                    <th>Project</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Total</th>
                    <th>Status</th>
                </TableHeader>
                <RowTemplate>
                    <RowToolbar>
                        <Actions>
                            <ActionLink HtmxProps=@(new HtmxProps(Endpoints.View.Replace("{proformaId}", @item.ProformaId),Targets.Workspace))
                                        Icon="bi bi-eye" />
                        </Actions>
                    </RowToolbar>
                    <td>@item.ProformaId</td>
                    <td>@item.ClientName</td>
                    <td>@item.ProjectName</td>
                    <td>@item.Start</td>
                    <td>@item.End</td>
                    <td>@item.Currency @item.Total</td>
                    <td>@item.Status</td>
                </RowTemplate>
            </DataTable>
            <Pagination Query=@Query
                        Result=@Result
                        HtmxProps=@(new HtmxProps(Endpoints.List, "#search-results", "outerHTML", "#search-results"))
                        Parameters=@(new []{ new KeyValuePair<string, object?>(nameof(Query.Status), Query.Status)}) />
        </div>
    </Content>
</Section>
@code {
    [Parameter, EditorRequired]
    public ListResults<ListProformas.Result> Result { get; set; } = default!;
    [Parameter, EditorRequired]
    public ListProformas.Query Query { get; set; } = default!;
}
