@using WebAPI.Infrastructure.SqlKata;
@using WebAPI.Infrastructure.Ui;

@foreach (var item in Result)
{
    <option value="@item.ProjectId">Proforma @item.Number started at @item.Start.ToString("dd/MM/yyy") and ended At @item.End.ToString("dd/MM/yyy") with a total of @item.Total</option>
}

@code {
    [Parameter, EditorRequired]
    public List<SearchProformas.Result> Result { get; set; } = default!;
}
