@using WebAPI.Clients;
@using WebAPI.Infrastructure.SqlKata;
@using WebAPI.Infrastructure.Ui;

<Heading Text="Clients" />
<Breadcrumbs Links=@(new []{new Breadcrumbs.Link("List clients")})
             Target=@(Targets.Workspace) />
<Toolbar>
    <Actions>
        <ActionButton Text="Register Client"
                      Icon="bi bi-plus-lg"
                      HtmxProps=@(new HtmxProps(Endpoints.Register, Targets.Workspace)) />
    </Actions>
</Toolbar>
<Section>
    <Content>
        <FormRow>
            <Content>
                <div class="col">
                    <SearchFilter Label="Name"
                                  Property=@(nameof(ListClients.Query.Name))
                                  Query=@Query
                                  HtmxProps=@(new HtmxProps(Endpoints.List, "#search-results", "outerHTML", "#search-results")) />
                </div>
            </Content>
        </FormRow>
        <div id="search-results">
            <DataTable TResult=ListClients.Result
                       Result=@Result
                       Context="item">
                <TableHeader>
                    <th></th>
                    <th>ClientId</th>
                    <th>Name</th>
                    <th>Phone Number</th>
                    <th>Document Number</th>
                </TableHeader>
                <RowTemplate>
                    <RowToolbar>
                        <Actions>
                            <ActionLink Icon="bi bi-eye"
                                        HtmxProps=@(new HtmxProps(Endpoints.Edit.Replace("{clientId}", @item.ClientId),Targets.Workspace)) />
                        </Actions>
                    </RowToolbar>
                    <td>@item.ClientId</td>
                    <td>@item.Name</td>
                    <td>@item.PhoneNumber</td>
                    <td>@item.DocumentNumber</td>
                </RowTemplate>
            </DataTable>
            <Pagination Query=@Query
                        Result=@Result
                        HtmxProps=@(new HtmxProps(Endpoints.List, "#search-results", "outerHTML", "#search-results"))
                        Parameters=@(new []{ new KeyValuePair<string, object?>(nameof(Query.Name), Query.Name)}) />
        </div>
    </Content>
</Section>
@code {
    [Parameter, EditorRequired]
    public ListResults<ListClients.Result> Result { get; set; } = default!;
    [Parameter, EditorRequired]
    public ListClients.Query Query { get; set; } = default!;
}
