@using WebAPI.CollaboratorRoles;
@using WebAPI.Infrastructure.SqlKata;
@using WebAPI.Infrastructure.Ui;

<Heading Text="Collaborator Roles" />
<Breadcrumbs Links=@(new []{new Breadcrumbs.Link("List collaborators roles")}) />
<Toolbar>
    <Actions>
        <ActionButton Text="Register Collaborator Role"
                      Endpoint=@Endpoints.Register
                      Target="#workspace"
                      Icon="bi bi-plus-lg" />
    </Actions>
</Toolbar>
<Section>
    <Content>
        <div class="row g-3">
            <div class="col">
                <TextFilter Label="Name"
                            Name="Name"
                            Target="#search-results"
                            Endpoint=@Endpoints.List
                            Query=@Query
                            Select="#search-results"
                            Swap="outerHTML" />
            </div>
        </div>
        <div id="search-results">
            <DataTable TResult=ListCollaboratorRoles.Result
                       Result=@Result
                       Query=@Query
                       Context="item"
                       Endpoint=@Endpoints.List
                       Target="#search-results"
                       Swap="outerHTML"
                       Select="#search-results"
                       Parameters=@(new []{ new KeyValuePair<string, object?>(nameof(Query.Name), Query.Name)})>
                <TableHeader>
                    <th></th>
                    <th>CollaboratorRoleId</th>
                    <th>Name</th>
                    <th>Fee Amount</th>
                    <th>Profit Percentage</th>
                </TableHeader>
                <RowTemplate>
                    <th>
                        <ActionLink Target="#workspace"
                                    Endpoint=@(Endpoints.Edit.Replace("{collaboratorRoleId}", @item.CollaboratorRoleId))
                                    Icon="bi bi-eye" />
                    </th>
                    <td>@item.CollaboratorRoleId</td>
                    <td>@item.Name</td>
                    <td>$ @item.FeeAmount</td>
                    <td>@item.ProfitPercentage %</td>
                </RowTemplate>
            </DataTable>
        </div>
    </Content>
</Section>
@code {
    [Parameter, EditorRequired]
    public ListResults<ListCollaboratorRoles.Result> Result { get; set; } = default!;
    [Parameter, EditorRequired]
    public ListCollaboratorRoles.Query Query { get; set; } = default!;
    [Parameter, EditorRequired]
    public Endpoints.Endpoint Endpoints { get; set; } = default!;
}
