@typeparam TKey where TKey : notnull
<div class="form-group">
    <label for=@Property class="form-label">@Label</label>
    @if (Readonly)
    {
        <input type="text"
               class="form-control"
               id=@Property
               name=@Property
               value=@Value
               readonly disabled />
    }
    else
    {
        @if (Required)
        {
            @if (HtmxProps == null)
            {
                <select class="form-select"
                        name=@Property
                        id=@Property
                        required>
                    <option value="" selected></option>
                    @foreach (var item in Source)
                    {
                        <option value=@item.Key>@item.Value</option>
                    }
                </select>
            }
            else
            {
                <select class="form-select"
                        name=@Property
                        id=@Property
                        hx-get=@HtmxProps.Endpoint
                        hx-target=@HtmxProps.Target
                        hx-swap=@HtmxProps.Swap
                        hx-trigger="input changed"
                        required>
                    <option value="" selected></option>
                    @foreach (var item in Source)
                    {
                        <option value=@item.Key>@item.Value</option>
                    }
                </select>
            }

        }
        else
        {
            @if (HtmxProps == null)
            {
                <select class="form-select"
                        name=@Property
                        id=@Property>
                    <option value="" selected></option>
                    @foreach (var item in Source)
                    {
                        <option value=@item.Key>@item.Value</option>
                    }
                </select>
            }
            else
            {
                <select class="form-select"
                        name=@Property
                        hx-get=@HtmxProps.Endpoint
                        hx-target=@HtmxProps.Target
                        hx-swap=@HtmxProps.Swap
                        hx-trigger="input changed"
                        id=@Property>
                    <option value="" selected></option>
                    @foreach (var item in Source)
                    {
                        <option value=@item.Key>@item.Value</option>
                    }
                </select>
            }
        }
    }
</div>

@code {
    [Parameter, EditorRequired]
    public string Property { get; set; } = default!;
    [Parameter, EditorRequired]
    public string Label { get; set; } = default!;
    [Parameter]
    public bool Required { get; set; } = default!;
    [Parameter]
    public bool Readonly { get; set; } = default!;
    [Parameter]
    public HtmxProps HtmxProps { get; set; } = default!;
    [Parameter]
    public object Value { get; set; } = default!;
    [Parameter]
    public Dictionary<TKey, string> Source { get; set; } = new Dictionary<TKey, string>();

}
