@using WebAPI.Infrastructure.SqlKata;
@using WebAPI.Infrastructure.Ui;
@using WebAPI.Proformas;

<div id=@Targets.ProcessItemsList>
    <DataTable TResult=ListProformaToInvoiceProcessItems.Result
               Result=@Result
               Context="item">
        <TableHeader>
            <th>Project</th>
            <th>Proforma Number</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>SubTotal</th>
            <th>Commission</th>
            <th>Total</th>
        </TableHeader>
        <RowTemplate>
            <td>@item.ProjectName</td>
            <td>@item.ProformaNumber</td>
            <td>@item.ProformaStart</td>
            <td>@item.ProformaEnd</td>
            <td>@item.ProformaCurrency @item.ProformaSubTotal</td>
            <td>@item.ProformaCurrency @item.ProformaCommission</td>
            <td>@item.ProformaCurrency @item.ProformaTotal</td>
        </RowTemplate>
    </DataTable>
    <Pagination Query=@Query
                Result=@Result
                HtmxProps=@(new HtmxProps(Endpoints.GetListItems(Query.InvoiceId!.Value), $"#{Targets.ProcessItemsList}", Swap.OuterHTML)) />
</div>

@code {
    [Parameter, EditorRequired]
    public ListResults<ListProformaToInvoiceProcessItems.Result> Result { get; set; } = default!;
    [Parameter, EditorRequired]
    public ListProformaToInvoiceProcessItems.Query Query { get; set; } = default!;
}
